table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  /* fb5050 */
  border: 1px solid #1d1c1c;
  text-align: left;
  padding: 1px;
  font-size: 16px;
}
th {
  background-color: lightgray;
}
td {
  background-color: lightslategray;
}
form {
  display: flex;
  flex-wrap: "wrap";
  gap: 5px;
}
input {
  display: block;
}
form td:last-child {
  display: flex;
  /* justify-content: space-evenly; */
}
form * {
  font-size: 16px;
}
